/* @media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

@media (min-width: 1400px) {
  .container {
    max-width: 1370px;
  }
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  min-height: 800px;
} */

.total-price {
  font-size: 30px;
  font-weight: bold;
  color: #000;
  text-align: right;
  line-height: 60px;
}
.total-price span:nth-child(1),
.total-price span:nth-child(2) {
  font-size: 18px;
  opacity: 0.8;
  text-decoration: line-through;
}
.total-price span:nth-child(3) {
  font-size: 18px;
  margin-left: 20px;
}
.price {
  color: #67c23a;
}
/* 
.search {
  padding: 1.25rem 1rem .5rem !important;
}

a {
  text-decoration: none;
  color: #2ef1a7;
}

.page {
  display: flex;
  justify-content: center;
  padding: 15px;
}

.jv-container {
  margin: 15px 0;
}

.el-icon {
  cursor: pointer;
  margin-left: 5px;
}

.black tbody tr:hover>td {
  background: linear-gradient(#111b19, #2ef1a6);
}

.white tbody tr:hover>td {
  background: linear-gradient(#f2f2f2, #715cff);
} */
